@font-face {
  font-family: "Montserrat-Medium_wgt500";
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Medium.ttf")  format("truetype");
   font-weight : 500;
 
}
@font-face {
  font-family: "Montserrat-Regular_wgt700";
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Regular.ttf")  format("truetype");
   font-weight : 700;
 
}
@font-face {
  font-family: "Montserrat-Regular_wgt400";
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}
@font-face {
  font-family: "Montserrat-Light_wgt300";
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Montserrat-Light.ttf")  format("truetype");
   font-weight : 300;
 
}
@font-face {
  font-family: "Berlin Sans FB";
  src: url("") format("embedded-opentype"),
       url("../fonts/Berlin_Sans_FB-Regular.ttf")  format("truetype"),
       url("../fonts/Berlin_Sans_FB-Regular.otf") format("opentype");
   font-weight : 400;
 
   
     font-style : normal;
}
@font-face {
  font-family: "Poppins";
  src: url("") format("embedded-opentype"),
       url("../fonts/Poppins-Regular.ttf")  format("truetype"),
       url("../fonts/Poppins-Regular.otf") format("opentype");
   font-weight : 400;
 
   
     font-style : normal;
}