header {
    width: 100%;
    text-align: center;
}

main {
    margin-top: 50px;
}

button {
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .center-button {
    display: flex;
    justify-content: center;
    margin-top: 30px; /* opcional, para agregar un margen superior */
 }

 .imagen {
    width: 15%;
    height: auto;
  }

  .image {
    display: flex;
    justify-content: center;
    margin-top: 30px; /* opcional, para agregar un margen superior */
 }