#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1400.0px;
  max-height: 900.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_1 {
  position: absolute;
  width: 272.49999999999994px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #434343;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #0D7BEC;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #0D7BEC;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 {
  position: absolute;
  width: 111.0px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_1 {
  position: absolute;
  width: 19.37339973449707px;
  height: 22.999984741210938px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 {
  position: absolute;
  width: 111.0px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_2 {
  position: absolute;
  width: 11.039999008178711px;
  height: 10.804893493652344px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_3 {
  position: absolute;
  width: 17.887699127197266px;
  height: 9.31500244140625px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_4 {
  position: absolute;
  width: 5.065299987792969px;
  height: 10.329399108886719px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_5 {
  position: absolute;
  width: 17.97140121459961px;
  height: 9.31500244140625px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 {
  position: absolute;
  width: 111.0px;
  min-height: 53.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 span {
  color: #757575;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #757575;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_6 {
  position: absolute;
  width: 23.000001907348633px;
  height: 22.86029815673828px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_7 {
  position: absolute;
  width: 122.5px;
  height: 2.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_8 {
  position: absolute;
  width: 129.5px;
  height: 2.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_2 {
  position: absolute;
  width: 121.49999999999977px;
  min-height: 22.0px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_2 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 {
  position: absolute;
  width: 365.0px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #397FF9;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #397FF9;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #397FF9;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #397FF9;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #397FF9;
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 input::-webkit-input-placeholder {
  color: #BDBDBD;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 input::-moz-placeholder {
  color: #BDBDBD;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 input:-moz-placeholder {
  color: #BDBDBD;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 input:-ms-input-placeholder {
  color: #BDBDBD;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 {
  position: absolute;
  width: 372.0px;
  height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.4px;
  line-height: 17px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 18px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_9 {
  position: absolute;
  width: 19.5px;
  height: 13.2916259765625px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_3 {
  position: absolute;
  width: 103.99999999999977px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_3 span {
  color: #0D7BEC;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #0D7BEC;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 input::-webkit-input-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 input::-moz-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 input:-moz-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 input:-ms-input-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 {
  position: absolute;
  width: 372.0px;
  height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #397FF9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #397FF9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #397FF9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #397FF9;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_10 {
  position: absolute;
  width: 19.0px;
  height: 15.20001220703125px;
  cursor: pointer;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_4 {
  position: absolute;
  width: 66.99999999999983px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_4 span {
  color: #0D7BEC;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #0D7BEC;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_5 {
  position: absolute;
  width: 296.5px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_5 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_6 {
  position: absolute;
  width: 335.9999999999999px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Image_1 {
  position: absolute;
  width: 679.9999999999999px;
  height: 900.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_7 {
  position: absolute;
  width: 126.5000000000004px;
  min-height: 35.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 11px;
  border-bottom-width: 11px;
  border-right-width: 11px;
  border-top-width: 11px;
  font-size: 0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_7 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_7 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 31px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 input::-webkit-input-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 input::-moz-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 input:-moz-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 input:-ms-input-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 {
  position: absolute;
  width: 372.0px;
  height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #397FF9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #397FF9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #397FF9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #397FF9;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_8 {
  position: absolute;
  width: 66.99999999999983px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_8 span {
  color: #0D7BEC;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #0D7BEC;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 input::-webkit-input-placeholder {
  color: #BDBDBD;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 input::-moz-placeholder {
  color: #BDBDBD;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 input:-moz-placeholder {
  color: #BDBDBD;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 input:-ms-input-placeholder {
  color: #BDBDBD;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 {
  position: absolute;
  width: 372.0px;
  height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.4px;
  line-height: 17px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 18px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Path_11 {
  position: absolute;
  width: 19.5px;
  height: 13.2916259765625px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_9 {
  position: absolute;
  width: 161.9999999999998px;
  min-height: 32.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_9 span {
  color: #0D7BEC;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #0D7BEC;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 input::-webkit-input-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 input::-moz-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 input:-moz-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 input:-ms-input-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 {
  position: absolute;
  width: 372.0px;
  height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #397FF9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #397FF9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #397FF9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #397FF9;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_10 {
  position: absolute;
  width: 66.99999999999983px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_10 span {
  color: #0D7BEC;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #0D7BEC;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 input::-webkit-input-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 input::-moz-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 input:-moz-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 input:-ms-input-placeholder {
  color: #999999;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 {
  position: absolute;
  width: 372.0px;
  height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 .valign {
  vertical-align: middle;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #397FF9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #397FF9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #397FF9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #397FF9;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 21px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_11 {
  position: absolute;
  width: 66.99999999999983px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_11 span {
  color: #0D7BEC;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #0D7BEC;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9f60b5b9-810a-44cc-a23e-e7ba9f863900 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}