<!DOCTYPE html>
<html>
    <head>
	    <title>Lista de Gastos</title>
    </head>

<body>
	<div class="container">
            <h1 class="title">FinApp </h1>
            <p class="subtitle">Controla tus Finanzas personales</p>
            <header>
                <h1>Gastos Personales</h1>
            </header>
            <main>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Detalle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let gasto of gastos">
                        <th scope="row">{{gasto.item}}</th>
                        <td>{{gasto.Categoria}}</td>
                        <td>{{gasto.Valor}}</td>
                        <td class="subrayado-azul"><a routerLink="/detalle/{{gasto.item}}">Detalles</a></td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let gasto of gastosBack">
                        <th scope="row">{{ gasto.id }}</th>
                        <td>{{ gasto.detail }}</td>
                        <td>{{ gasto.category }}</td>
                        <td>{{ gasto.valor }}</td>
                      </tr>
                    </tbody>
                  </table>
            </main>
            <div>
              <input type="text" [(ngModel)]="nuevoGastoDetalle" placeholder="Detalle del gasto">
              <input type="text" [(ngModel)]="nuevoGastoCategoria" placeholder="Categoría del gasto">
              <input type="number" [(ngModel)]="nuevoGastoValor" placeholder="Valor del gasto">
              <button type="submit" (click)="agregarGasto()">Agregar gasto</button>
            </div>
	</div>
</body>

    </html> 
