<!DOCTYPE html>
<html>
    <head>
	    <title>Detalle del Gasto</title>
    </head>

<body>
	<div class="container">
            <h1 class="title">FinApp </h1>
            <p class="subtitle">Controla tus Finanzas personales</p>
            <header>
                <h1>Detalle del Gasto</h1>
            </header>
            <main>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">{{this.gasto.item}}</th>
                        <td>{{this.gasto.Detalle}}</td>
                        <td>{{this.gasto.Categoria}}</td>
                        <td>{{this.gasto.Valor}}</td>
                        <td>{{this.gasto.Fecha}}</td>
                        <td><img [src]="gasto.imagenUrl"></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="image">
                    
                    <img [src]="this.getCategoriaImagen(this.gasto.Categoria)" alt="MDN" class="imagen">

                  </div>
                  <div class="center-button">
                    <button routerLink="/ExpensesList">Volver</button>
                </div>
            </main>
	</div>
</body>
    </html> 

