<!DOCTYPE html>
<html>
<head>
	<title>Página de Inicio de Sesión</title>
	<style>
		.right {
			flex: 1;
			background-image: url('../assets/LoginImage.png');
			background-size: cover;
			background-position: center center;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="left">
            <h1 class="title">FinApp </h1>
            <p class="subtitle">Controla tus Finanzas personales</p>
            
            <h4>Ingresa a FinApp</h4>
			<form>
				<label for="username">Nombre de Usuario:</label>
				<input type="text" id="username" name="username" [(ngModel)]="username" >

				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" [(ngModel)]="password" >

				<button type="submit" (click)="onSubmit()">Ingresar</button>
			</form>
           <!-- <p class="signup">¿Aún no tienes una cuenta? <a href="">Regístrate aquí</a>.</p> -->
            <p class="signup">¿Aún no tienes una cuenta? <a routerLink="Register" class="nav-link">Regístrate aquí</a>.</p>

		</div>
		<div class="right"></div>
	</div>
</body>
</html>
