.title {
    text-align: center;
    margin-top: -10px; /* Modifica este valor para ajustar la distancia del título respecto al texto anterior */
    margin-bottom: 0px;
  }

  .subtitle {
    text-align: center;
    margin-top: 0px; /* Modifica este valor para ajustar la distancia del título respecto al texto anterior */
    margin-bottom: 120px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px; /* Agrega un margen inferior de 20px al formulario */
  }
  
  .signup a {
    color: blue;
  }

  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }


  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  input[type=text], input[type=password] {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }