<!DOCTYPE html>
<html>
<head>
	<title>Página de Registro</title>
	<style>
        .right {
            flex: 1;
            background-image: url('../assets/LoginImage.png');
            background-size: cover;
            background-position: center center;
        }
	</style>
</head>

<body>
	<div class="container">
		<div class="left">
            <h1 class="title">FinApp </h1>
            <p class="subtitle">Controla tus Finanzas personales</p>
            
            <h4>Registrate en FinApp</h4>
			<form [formGroup]="forma" (ngSubmit)="guardar()">
                <label for="firstname">Nombre:</label>
				<input type="text" id="firstname" name="firstname" formControlName="firstname1" [(ngModel)]="this.firstname">

                <label for="lastname">Apellido:</label>
				<input type="text" id="lastname" name="lastname" formControlName="lastname1" [(ngModel)]="this.lastname">

                <label for="phone">Celular:</label>
				<input type="tel" id="phone" name="phone" formControlName="phone1" [(ngModel)]="this.phone">

				<label for="username">Nombre de Usuario:</label>
				<input type="text" id="username" name="username" formControlName="username1" [(ngModel)]="this.username">

				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" formControlName="password1" [(ngModel)]="this.password">


				<button type="submit" (click)="guardarDatos()">Registrarse</button>
			</form>
           <!-- <p class="signup">¿Aún no tienes una cuenta? <a href="">Regístrate aquí</a>.</p> -->
            <p class="signup">¿Ya tienes una cuenta? <a routerLink="" class="nav-link">Ingresa aquí</a>.</p>

		</div>
		<div class="right"></div>
	</div>
</body>
</html>
