header {
    width: 100%;
    text-align: center;
}

main {
    margin-top: 50px;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }

  div button {
    text-align: center;
  }